*, *::before, *::after {
    box-sizing: border-box;
}
  
* {
    margin: 0;
    /* font-family:; */
}
  
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: row;
}

.logo {
    background-image: url(assets/images/halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;

    position: absolute;
    width: 25vw;
    height: 100vh;
    object-position: left;
    z-index: 1;
}

.container {
    background-color: rgb(200, 200, 200);

    position: absolute;
    width: 75vw;
    height: 100vh;
    object-position: right;
    left: 25%;
}